*{
    padding:0px;
    margin:0px;
    font-family:"微软雅黑";
}
.container{
	width: 100%;
	max-width: 2200px;
}
.row::after{
	content: "";
	display: block;
	clear: both;
}
.container * { 
    box-sizing: border-box;
}
[class *= 'col-']{
	float: left;
    min-height: 1px;
    /* debug */
    border: 1px solid red;
}
@media screen and (min-width: 768px){
    .col-1 { width: 10%; }
    .col-2 { width: 20%; }
    .col-3 { width: 30%; }
    .col-4 { width: 40%; }
    .col-5 { width: 50%; }
    .col-6 { width: 60%; }
    .col-7 { width: 70%; }
    .col-8 { width: 80%; }
    .col-9 { width: 90%; }
    .col-10 { width: 100%; }
}
@media screen and (min-width: 400px) and (max-width: 768px){
    .col-m-1 { width: 10%; }
    .col-m-2 { width: 20%; }
    .col-m-3 { width: 30%; }
    .col-m-4 { width: 40%; }
    .col-m-5 { width: 50%; }
    .col-m-6 { width: 60%; }
    .col-m-7 { width: 70%; }
    .col-m-8 { width: 80%; }
    .col-m-9 { width: 90%; }
    .col-m-10 { width: 100%; }
}
@media only screen and (max-width: 400px){
    .col-s-1 { width: 10%; }
    .col-s-2 { width: 20%; }
    .col-s-3 { width: 30%; }
    .col-s-4 { width: 40%; }
    .col-s-5 { width: 50%; }
    .col-s-6 { width: 60%; }
    .col-s-7 { width: 70%; }
    .col-s-8 { width: 80%; }
    .col-s-9 { width: 90%; }
    .col-s-10 { width: 100%; }
}

